<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Développer les Competenses Psychosociales</h2>
                <hr class="light">
                <p class="text-faded">Un programme d&rsquo;Éducation à la santé innovant par le développement des compétences psychosociales fondé sur les neurosciences cognitives, affectives et sociales,  la pratique du yoga,
                et la culture traditionnelle polynésienne</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
