<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Développer les CPS!</h2>
                <hr class="light">
                <p class="text-faded">Développer les compétences psychosociales d'une façon générale pour favoriser le bien-être et la santé globale des jeunes</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
